@charset "utf-8";
.container-fluid {
    background-color: hsla(359,37%,65%,1.00);
    background-image: -webkit-repeating-linear-gradient(270deg,rgba(184,163,171,1.00) 0%,rgba(255,144,144,1.00) 100%);
    background-image: -moz-repeating-linear-gradient(270deg,rgba(184,163,171,1.00) 0%,rgba(255,144,144,1.00) 100%);
    background-image: -o-repeating-linear-gradient(270deg,rgba(184,163,171,1.00) 0%,rgba(255,144,144,1.00) 100%);
    background-image: repeating-linear-gradient(180deg,rgba(184,163,171,1.00) 0%,rgba(255,144,144,1.00) 100%);
    text-decoration: none;

}
body p {
}
.container-fluid .container .jumbotron {
    background-color: #E793CE;
}
.row .col-lg-4 .card.col-md-4.col-lg-12 {
    background-color: #E9E88C;
}
.row .col-lg-6 .card.col-md-4.col-lg-12 {
    background-color: #BEF183;
}
#accordion1 .card #headingOne1 {
    background-color: #80F4F2;
}
.card #accordion2 .card {
    background-color: #7EF6FB;
}
